
p.demos{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 20px 0px;
}
p.demos a{
    display: inline-block;
	width: 60px;
	height: 60px;
	background: #222;
	margin: 0px 4px;
	color: #fff;
	line-height: 60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 50%;
	font-size: 16px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.2);
}

p.demos a:hover{
	opacity: 0.7;
}
p.demos a.current-demo,
p.demos a.current-demo:hover{
	background: #ffd252;

}